button{
    width: 50%;
}
.col-9 {
    outline: auto black;
}
.col-12 {
    text-align: center;
    border-style: solid;
    background-color: darkslategrey;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 1rem;
}
.five-day {
    text-align: left;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#card{
    background-color: skyblue;
}
img {
    height: 50px;
    width: 50px;
}
.card {
    background-color: darkcyan;
}